body
{
	background-color: grey;
	text-align: center;
	font-family: Arial;
}
h1{
	padding-top: 0.08em;
	
}
p{
	padding-left:1em;padding-right:1em;
	text-align: justify;
	font-size: 0.85em;
}
#page
{
	width:42em;
	/*height:59.4em;*/
	margin:0 auto; 
	margin-top:2em; 
	background-color: white;
}
	